{% extends 'base.html' %}

{% block bodyblock %}
        <div class='container'>
        
            <br><br>
    
            <h1 class="content"><span style="color: #002f4d;">Welcome to</span> <span style="color:#198b90"> SkAI</span></h1>
            <br>
            <br>
            <p class="content"><span style="color: #002f4d;"> Face detection is a computer technology being used in a variety of applications that identifies human faces in digital images. Face detection also refers to the psychological process by which humans locate and attend to faces in a visual scene.Face detection can be regarded as a specific case of object-class detection. In object-class detection, the task is to find the locations and sizes of all objects in an image that belong to a given class. Examples include upper torsos, pedestrians, and cars.</span>
           
            </p>
        </div>



{% endblock  %}